<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ip-address" content="{{.IpAddress}}"/>
    <meta name="udp-port" content="{{.UdpPort}}"/>
    <meta name="websocket" content="ws://localhost:8080/socket"/>
    <title>F1 telemetry</title>
    <script src="/js"></script>
    <link href="/css" type="text/css" rel="stylesheet"/>
</head>
<body onload="main()">
<header class="is-fixed-above-lg is-fixed">
    <nav>
        <ul>
            <li>F1 Telemetry</li>
        </ul>
        <ul>
            <li>
                <start-lights lights="0"></start-lights>
            </li>
        </ul>
    </nav>
</header>
<main class="container page-nav">
    <div class="chart-container">
        <section>
            <canvas id="myChart"></canvas>
        </section>
    </div>
</main>
<footer>
    <div class="container">
        <section>
            <span>{{.IpAddress}}:{{.UdpPort}}</span>
        </section>
    </div>
</footer>
</body>
</html>