<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ip-address" content="{{.IpAddress}}"/>
    <meta name="udp-port" content="{{.UdpPort}}"/>
    <meta name="websocket" content="ws://localhost:8080/socket"/>
    <title>F1 telemetry</title>
    <script src="/js"></script>
    <link href="/css" type="text/css" rel="stylesheet"/>
</head>
<body onload="main()">
<header class="is-fixed-above-lg is-fixed">
    <nav>
        <ul>
            <li>F1 Telemetry</li>
        </ul>
        <ul>
            <li>
                <start-lights lights="0"></start-lights>
            </li>
        </ul>
    </nav>
</header>
<main class="container page-nav">
    <details open>
        <summary>Track data</summary>
        <div class="grid">
            <div id="SummaryTrackName">Hungaroring</div>
            <div id="SummaryFormula">F1</div>
            <div id="SummarySessionType">Q3</div>
            <div id="SummaryTotalLaps">35 Laps</div>
            <div id="SummaryTemperature">35° / 45°</div>
            <div id="SummaryWeather">Weather</div>
        </div>
    </details>
    <section>
        <select id="driver"></select>
    </section>
    <section>
        <div class="grid">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </section>
    <section>
        <fieldset>
            <legend>Lap times</legend>
            <table id="lapTimes">
                <thead>
                <tr>
                    <th scope="col">Lap</th>
                    <th scope="col">Sector 1</th>
                    <th scope="col">Sector 2</th>
                    <th scope="col">Sector 3</th>
                    <th scope="col">Full</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="col">1</th>
                    <th scope="col">00:23:59</th>
                    <th scope="col">00:33:64</th>
                    <th scope="col">00:29:26</th>
                    <th scope="col">01:12:36</th>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row">Average</th>
                    <td>9,126</td>
                    <td>0.91</td>
                    <td>341</td>
                    <td>341</td>
                </tr>
                </tfoot>
            </table>
        </fieldset>
    </section>
</main>
<footer>
    <div class="container">
        <section>
            <span>{{.IpAddress}}:{{.UdpPort}}</span>
        </section>
    </div>
</footer>
</body>
</html>